/* /* #firebaseui_container .firebaseui-title {
  font-size: 0px;
}
.firebaseui-title:after {
  font-size: 20px;
  content: "Logga in med epost";
} */
/* .firebaseui-label[for="ui-sign-in-email-input"] {
  font-size: 0px;
} */
/* .firebaseui-card-header > h1{
  display:none
}
.firebaseui-card-header > h1:after {
  font-size: 20px;
  content: "Logga in med epost";
}  */

/* #root > div > div:nth-child(1) > div > form > div.firebaseui-card-header > h1 */